@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Slabo+27px&display=swap');

*{
    font-family: Cormorant Garamond;
    margin: 0;
    padding: 0;
   
    
}
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  

}
.popup{
  display: flex;
  width: 100%;
  margin: 5px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgray;
  
  
  
}
.popup a{
 text-decoration: none;
 color: black;
 font-weight: bolder;
 margin: 10px;
}

.arrow{
 width: 20px;
 height: 20px;
 margin-left: 5px;
 
 
}
.first-bar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;

  
  
}

.first-bar-container form {
  width: 50%;
  display: flex;
  justify-content: center;
}
.logo{
  width: 25%;
  

}
.user-shop{
  display: flex;
  width: 25%;
  justify-content: center;
  
}
.search-container{
  border: solid 1px rgba(0,0,0,.09);
}

.search-container button{
  border: none;
  background: rgba(0,0,0,.05);
}
.search-container input{
  width: 100%;
  outline: none;
  padding: 5px;
  background: rgba(0,0,0,.05);
  border: none;
}
.user-shop img{
  margin: 0 10px;
}






